JWT__KEY=abc123
JWT__ISSUER=Company
JWT__AUDIENCE=Audience
JWT__ACCESS_TOKEN_EXPIRATION_IN_MINUTES=7
JWT__REFRESH_TOKEN_EXPIRATION_IN_DAYS=7

DB__SERVER=host
DB__DATABASE=db
DB__USER=user
DB__PASSWORD=password

EMAIL__HOST=smtp.simply.com
EMAIL__DOMAIN=yourdomain.com
EMAIL__PORT=587
EMAIL__USERNAME=your@yourdomain.com
EMAIL__PASSWORD=your-email-password
EMAIL__FROM=your@yourdomain.com

INCOMING_MAIL__HOST=mail.simply.com
INCOMING_MAIL__PORT=143

EMAIL__SUPPORT_MAIL=support@yourdomain.com
EMAIL__SUPPORT_PASSWORD='your-support-mail-password'

PASSWORD_RESET__EXPIRATION_IN_MINUTES=30

APP__BASE_URL=http://localhost:3000