.reset-password-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000000a0;
    z-index: 9997;
    overscroll-behavior: contain;
}

.reset-password-panel {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: 80vh;
    z-index: 9999;
    transition: all .5s ease-in-out;
    overscroll-behavior: contain;
}

.reset-password-panel.open {
    top: 50%;
}

.reset-password-panel hr {
    margin: 1em 0em;
    border: none;
    height: 2px;
    background: linear-gradient(90deg, #00000000 0%, #ffffffff 50%, #00000000 100%);
}

.reset-password-panel .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reset-password-container {
    position: relative;
    padding: 1em;
    display: flex;
    flex-direction: column;
    height: calc(100% - 2em);
    height: calc(100% - 2em);
    background: linear-gradient(160deg, #0d051a 0%,#1F0C3B 50%, #381310 100%);
    border-radius: 20px;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.reset-password-container::after,
.reset-password-container::before {
    --angle: 130deg;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background: linear-gradient(var(--angle), #4c1d97 0%,#4a1d8f 50%, #97352c 100%);
    border-radius: 20px;
    z-index: -1;
}

.reset-password-container::after {
    filter: blur(8px);
}
